%h1 Precios

%p GasMX se cobra bajo un esquema de renta mensual de acuerdo con el número de recibos que se generen:

%table
  %thead
    %tr
      %th Número máximo de recibos
      %th Costo mensual MXN
  %tbody
    %tr
      %td 500
      %td $6,000.00
    %tr
      %td 1,000
      %td $7,800.00
    %tr
      %td 2,000
      %td $10,140.00
    %tr
      %td 4,000
      %td $13,182.00
    %tr
      %td 8,000
      %td $17,136.00
    %tr
      %td 16,000
      %td $22,278.00
    %tr
      %td 32,000
      %td $28,960.00
