%h1 Precios

%p GasMX se cobra bajo un esquema de renta mensual de acuerdo con el número de recibos que se generen:

%table
  %thead
    %tr
      %th
        Número máximo
        %br
        de recibos
      %th
        Costo mensual
        %br
        pesos mexicanos
      %th
        Costo mensual
        %br
        dólares americanos
  %tbody
    %tr
      %td.numeric 500
      %td.numeric $6,000.00
      %td.numeric $522.00
    %tr
      %td.numeric 1,000
      %td.numeric $7,800.00
      %td.numeric $678.00
    %tr
      %td.numeric 2,000
      %td.numeric $10,140.00
      %td.numeric $882.00
    %tr
      %td.numeric 4,000
      %td.numeric $13,182.00
      %td.numeric $1,146.00
    %tr
      %td.numeric 8,000
      %td.numeric $17,136.00
      %td.numeric $1,490.00
    %tr
      %td.numeric 16,000
      %td.numeric $22,278.00
      %td.numeric $1,937.00
    %tr
      %td.numeric 32,000
      %td.numeric $28,960.00
      %td.numeric $2,518.00
